/* !! NOTE: Button background colors are overrided in Calendar.js*/
/* !! NOTE: Active button background colors are overrided in FullCalendar.js*/

/* !! responosive to smalle screen and mobile device) */
/* table aligned to left border when screen is extra-small */
@media only screen and (max-width:300px) {
    .MuiExpansionPanelDetails-root.makeStyles-calendarContainer-2{
        overflow-x: scroll;
    }
}

/* for small and medium size screen */
@media only screen and (max-width:800px) {
    .fc{
        min-width: 18em;
        width: 60%;
      }
      .fc-toolbar.fc-header-toolbar  {
        flex-direction: column;
      }
      .fc-center{
        padding-bottom:8px;
        padding-top: 8px;
        font-size: 0.80em;
      }
      .fc-row.fc-widget-header {
        font-size: 0.60em;
      }
      .fc-day-number{
        font-size: 0.75em;
      }
      .fc-content{
        font-size: 0.85em;
      }
    
      /* decrease week view header height */
      .fc-day-header.fc-widget-header div{
        line-height: 95% !important;
      }

    /* increase the row height to avoiding dates overlapping weekdays*/
    .fc-dayGrid-view .fc-body .fc-row {
        min-height: 0;
        height: 3em !important;
        overflow: hidden;
    }

    /* for small and medium size screen, overlapped event bar is full length */
    .fc-timeGridWeek-view .fc-time-grid-event.fc-event.fc-start.fc-end{
        margin-right: 0 !important;
        border: 1px solid lightgrey;
    }

    /* for small and medium size screen, overlapping event bar leave 
    some space at left side to view overlapped event bar  */
    .fc-timeGridWeek-view .fc-time-grid-event.fc-event.fc-start.fc-end.fc-time-grid-event-inset{
        left:10px !important;
    }
}

/* !! other settings */
/* remove right side vertial bar of widget header, in week and day views */
.fc-row.fc-widget-header{
    border-right: 0px;
}

/* remove the the scroll bar from month view */
.fc-scroller.fc-day-grid-container {
    height: auto !important;
}

/* limit the height of week and day views */
.fc-scroller.fc-time-grid-container {
    height: 16em !important;
}

.fc-time-grid-event.fc-event.fc-start.fc-end{
    margin-right: 15% !important;
}

/* decrease left blank space of overlapping event bar in day view */
.fc-time-grid-event.fc-event.fc-start.fc-end.fc-time-grid-event-inset{
    left: 35% !important;
    margin-right: 0 !important;
}

