

@media only screen and (max-width:800px) {
    .fc-dayGrid-view .fc-body .fc-row {
        min-height: 0;
        height: 3em !important;
        overflow: hidden;
    }
}

.fc-scroller.fc-day-grid-container {
    height: auto !important;
}

.fc-scroller.fc-time-grid-container {
    height: 16em !important;
}